* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.mainBody {
  padding: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  background-color: #7f1d1d;
  color: white;
  padding: 8px;
}

.header {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1;
  grid-template-columns: 2fr 1fr;
  padding: 16px;
  gap: 32px;
}

.mainBody {
  background: linear-gradient(
    298deg,
    rgba(250, 223, 82, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects {
  display: grid;
  grid-row: 1 / 3;
}

h2 {
  font-size: 18px;
  margin-left: 16px;
  margin-top: 16px;
}

.projectSection {
  display: grid;
  place-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projectSection > div {
  /* height: 200px; */
  padding: 42px;
  border-left: 10px solid gold;
  font-size: 16px;
  font-weight: 900;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.projectSection > div > p {
  font-weight: 300;
}

.announcements {
  display: flex;
  flex-direction: column;
  height: auto;
  font-weight: 900;
}

.annGroup > div > p {
  font-weight: 300;
}

.trendGroup,
.annGroup {
  flex: 1;
  font-weight: 900;
  font-size: 18px;
}

.trendGroup > div {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trendGroup > div > img {
  width: 38px;
}

.annGroup > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  padding-bottom: 32px;
  margin: 10%;
}
.annGroup {
  display: flex;
  gap: 8px;
}

.annGroup > div > p {
  font-size: 16px;
  font-style: italic;
}

#annBorder {
  border-bottom: 2px solid gold;
}

.trending {
  display: flex;
  flex-direction: column;
}

.projectSection > div,
.trendGroup,
.annGroup {
  display: grid;
  background-color: white;
  border-radius: 16px;
  margin: 16px;
  box-shadow: 9px 3px 7px 2px rgba(0, 0, 0, 1);
}

.dashboard {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: start;
  gap: 8px;
}

.dashboard > img {
  width: 36px;
}

.firstGroup,
.secondGroup {
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-content: start;
  gap: 16px;
}

.firstGroup > img,
.secondGroup > img {
  position: relative;
  bottom: 10px;
  height: 36px;
}

button {
  padding: 8px;
  width: 75px;
  height: 40px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #7f1d1d;
  color: gold;
  flex: 1;
}

.searchBar {
  display: flex;
  gap: 4px;
  padding-left: 16px;
}

.searchBar > img {
  width: 30px;
}

input {
  display: flex;
  flex: 1;
  border-radius: 10px;
}

.userInfo > img {
  width: 30px;
}

.userInfo {
  display: flex;
  place-content: space-around;
}

.userInfo > p {
  display: grid;
  place-content: center;
  font-weight: 900;
}

.buttons {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.header-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
}

.welcomeInfo {
  display: flex;
  gap: 16px;
  padding-left: 16px;
}

.welcomeInfo > img {
  grid-column: 1;
  width: 50px;
}

.paraUser {
  font-weight: 900;
}

.actions {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  background-color: gold;
  color: black;
  transition: 0.3s ease-in-out;
}

.changeColor {
  font-size: 22px;
  font-weight: bold;
}

.changeColor:hover {
  color: gold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.actions > img:hover,
.actions > a:hover {
  transform: scale(1.3);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

a:active {
  color: gold;
}

a:visited {
  color: #7f1d1d;
}

a:link {
  color: rgb(202, 149, 149);
}

.welcomeInfo > img:hover,
.userInfo > img:hover {
  transform: scale(1.4);
  transition: 0.3s ease-in-out;
}

.userInfo > p:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.actions > img {
  height: 30px;
  align-self: end;
}

.actions > a {
  display: grid;
  align-self: end;
}

.buttonText {
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
